In [1]:
import os
import sys
import numpy as np
import pandas as pd
import json

sys.path.append('../')
sys.path.append('../src/')
sys.path.append('../spell/')

import Reader
import ParamsExtractor3
import DataPreprocessor
import EncodeCommand
import DeepLearningAnomalyDetection2

2024-09-04 14:16:44.065435: I tensorflow/core/util/port.cc:113] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-09-04 14:16:44.115109: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-04 14:16:44.906808: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
# First type of log file:
# laurel_anomalous_new
fp = '../data/linpeas_logs_2_silent_attack/laurel_logs.log'
fps = [fp]
fps += [fp + f'.{str(i)}' for i in range(1,8)]
print(fps)

['../data/linpeas_logs_2_silent_attack/laurel_logs.log', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.1', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.2', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.3', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.4', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.5', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.6', '../data/linpeas_logs_2_silent_attack/laurel_logs.log.7']

In [3]:
fp = fps[0]

data_list = []
lines_limit = 1000 # limit reading lines, done for memory constraints
line_from = 183662 - 1000
i = 0

with open(fp, 'r') as file:
    for line in file:
        i+=1
        if i > line_from and i < line_from + lines_limit:
            index = line.find('{')
            if index != -1:
                json_data = line[index:]
                data = json.loads(json_data)
                data_list.append(data)
                
df = pd.DataFrame(data_list)

In [4]:
df.head()

,hostname,ident,msg,severity,facility,timereported
0,localhost,laurel,type=SYSCALL msg=audit(1720542223.532:14449): ...,info,local0,2024-07-09T12:23:43.657020-04:00
1,localhost,laurel,type=EXECVE msg=audit(1720542223.532:14449): a...,info,local0,2024-07-09T12:23:43.657021-04:00
2,localhost,laurel,type=CWD msg=audit(1720542223.532:14449): cwd=...,info,local0,2024-07-09T12:23:43.657022-04:00
3,localhost,laurel,type=PATH msg=audit(1720542223.532:14449): ite...,info,local0,2024-07-09T12:23:43.657024-04:00
4,localhost,laurel,type=PATH msg=audit(1720542223.532:14449): ite...,info,local0,2024-07-09T12:23:43.657026-04:00

In [5]:
df['msg'][1]

'type=EXECVE msg=audit(1720542223.532:14449): argc=5 a0="grep" a1="-R" a2="-i" a3="pwd\\|passw" a4="/var/log/maillog-20240706"'

In [6]:
import re

def parse_audit_log(log: str):
    # Initialize an empty dictionary to hold the key-value pairs
    result = {}

    # Use regular expressions to find all key-value pairs
    # The pattern matches sequences of the form key=value or key="value"
    matches = re.findall(r'(\w+)=("[^"]+"|\S+)', log)

    # Iterate over all matches and add them to the dictionary
    for key, value in matches:
        # Remove quotes from the value if they exist
        result[key] = value.strip('"')

    # columns to keep: cwd/exe, exit, items, ppid, pid, comm, timedelta, pid timedelta, id_anomalies, num_id_anomalies
    
    
    return result

# Example usage
# log = 'type=SYSCALL msg=audit(1720451679.133:2225): arch=c000003e syscall=59 success=yes exit=0 a0=7f64b5abd8d8 a1=7fff22281de0 a2=7fff22282678 a3=0 items=2 ppid=3879 pid=3880 auid=1000 uid=0 gid=0 euid=0 suid=0 fsuid=0 egid=0 sgid=0 fsgid=0 tty=pts0 ses=3 comm="systemd-tty-ask" exe="/usr/bin/systemd-tty-ask-password-agent" subj=unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023 key="exec_log"\x1dARCH=x86_64 SYSCALL=execve AUID="matteo" UID="root" GID="root" EUID="root" SUID="root" FSUID="root" EGID="root" SGID="root" FSGID="root"'

parsed_log = parse_audit_log(df['msg'][0])
print(parsed_log)

{'type': 'SYSCALL', 'msg': 'audit(1720542223.532:14449):', 'arch': 'c000003e', 'syscall': '59', 'success': 'yes', 'exit': '0', 'a0': '7ffc4ddf76c0', 'a1': '55647b1e05f0', 'a2': '7ffc4ddf7d48', 'a3': '7ffc4ddfae40', 'items': '2', 'ppid': '26198', 'pid': '26263', 'auid': '1000', 'uid': '1000', 'gid': '1000', 'euid': '1000', 'suid': '1000', 'fsuid': '1000', 'egid': '1000', 'sgid': '1000', 'fsgid': '1000', 'tty': 'pts0', 'ses': '3', 'comm': 'grep', 'exe': '/usr/bin/grep', 'subj': 'unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023', 'key': 'exec_log', 'ARCH': 'x86_64', 'SYSCALL': 'execve', 'AUID': 'matteo', 'UID': 'matteo', 'GID': 'matteo', 'EUID': 'matteo', 'SUID': 'matteo', 'FSUID': 'matteo', 'EGID': 'matteo', 'SGID': 'matteo', 'FSGID': 'matteo'}

In [7]:
parsed_log['comm']

'grep'

In [8]:
# Apply the parse_audit_log function to each row in the 'log' column
df_expanded = df['msg'].apply(parse_audit_log).apply(pd.Series)

# Concatenate the new columns with the original DataFrame
df = pd.concat([df, df_expanded], axis=1)
df.head()

,hostname,ident,msg,severity,facility,timereported,type,msg,arch,syscall,...,frootid,hostname,addr,terminal,res,grantors,acct,a5,a6,cmd
0,localhost,laurel,type=SYSCALL msg=audit(1720542223.532:14449): ...,info,local0,2024-07-09T12:23:43.657020-04:00,SYSCALL,audit(1720542223.532:14449):,c000003e,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,localhost,laurel,type=EXECVE msg=audit(1720542223.532:14449): a...,info,local0,2024-07-09T12:23:43.657021-04:00,EXECVE,audit(1720542223.532:14449):,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,localhost,laurel,type=CWD msg=audit(1720542223.532:14449): cwd=...,info,local0,2024-07-09T12:23:43.657022-04:00,CWD,audit(1720542223.532:14449):,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,localhost,laurel,type=PATH msg=audit(1720542223.532:14449): ite...,info,local0,2024-07-09T12:23:43.657024-04:00,PATH,audit(1720542223.532:14449):,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,localhost,laurel,type=PATH msg=audit(1720542223.532:14449): ite...,info,local0,2024-07-09T12:23:43.657026-04:00,PATH,audit(1720542223.532:14449):,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print(df.columns.values)

['hostname' 'ident' 'msg' 'severity' 'facility' 'timereported' 'type'
 'msg' 'arch' 'syscall' 'success' 'exit' 'a0' 'a1' 'a2' 'a3' 'items'
 'ppid' 'pid' 'auid' 'uid' 'gid' 'euid' 'suid' 'fsuid' 'egid' 'sgid'
 'fsgid' 'tty' 'ses' 'comm' 'exe' 'subj' 'key' 'ARCH' 'SYSCALL' 'AUID'
 'UID' 'GID' 'EUID' 'SUID' 'FSUID' 'EGID' 'SGID' 'FSGID' 'argc' 'a4' 'cwd'
 'item' 'name' 'inode' 'dev' 'mode' 'ouid' 'ogid' 'rdev' 'obj' 'nametype'
 'cap_fp' 'cap_fi' 'cap_fe' 'cap_fver' 'cap_frootid' 'OUID' 'OGID'
 'proctitle' 'id' 'op' 'fver' 'fp' 'fi' 'fe' 'old_pp' 'old_pi' 'old_pe'
 'old_pa' 'pp' 'pi' 'pe' 'pa' 'frootid' 'hostname' 'addr' 'terminal' 'res'
 'grantors' 'acct' 'a5' 'a6' 'cmd']

In [10]:
cols_to_keep = ['timereported', 'exe', 'exit', 'items', 'ppid', 'pid', 'comm', 'auid', 'uid', 'gid', 'euid', 'suid', 'fsuid', 'egid', 'sgid', 'fsgid', 'AUID', 'UID', 'GID', 'EUID', 'SUID', 'FSUID', 'EGID', 'SGID', 'FSGID']
df = df[cols_to_keep]
df.head()

,timereported,exe,exit,items,ppid,pid,comm,auid,uid,gid,...,fsgid,AUID,UID,GID,EUID,SUID,FSUID,EGID,SGID,FSGID
0,2024-07-09T12:23:43.657020-04:00,/usr/bin/grep,0,2,26198,26263,grep,1000,1000,1000,...,1000,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo
1,2024-07-09T12:23:43.657021-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-07-09T12:23:43.657022-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-07-09T12:23:43.657024-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-07-09T12:23:43.657026-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['timereported'] = pd.to_datetime(df['timereported'])
df['timestamp_numeric'] = df['timereported'].astype('int64') // 10**6
df['timedelta'] = df['timestamp_numeric'].diff()
df.head()

,timereported,exe,exit,items,ppid,pid,comm,auid,uid,gid,...,UID,GID,EUID,SUID,FSUID,EGID,SGID,FSGID,timestamp_numeric,timedelta
0,2024-07-09 12:23:43.657020-04:00,/usr/bin/grep,0,2,26198,26263,grep,1000,1000,1000,...,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,1720542223657,NaN
1,2024-07-09 12:23:43.657021-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1720542223657,0.0
2,2024-07-09 12:23:43.657022-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1720542223657,0.0
3,2024-07-09 12:23:43.657024-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1720542223657,0.0
4,2024-07-09 12:23:43.657026-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1720542223657,0.0

In [12]:
df = df.drop(['timereported', 'timestamp_numeric'], axis=1)
df.head()

,exe,exit,items,ppid,pid,comm,auid,uid,gid,euid,...,AUID,UID,GID,EUID,SUID,FSUID,EGID,SGID,FSGID,timedelta
0,/usr/bin/grep,0,2,26198,26263,grep,1000,1000,1000,1000,...,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [13]:
for col in df.columns:
    print(f'{col} : {df.iloc[1][col]}')

exe : nan
exit : nan
items : nan
ppid : nan
pid : nan
comm : nan
auid : nan
uid : nan
gid : nan
euid : nan
suid : nan
fsuid : nan
egid : nan
sgid : nan
fsgid : nan
AUID : nan
UID : nan
GID : nan
EUID : nan
SUID : nan
FSUID : nan
EGID : nan
SGID : nan
FSGID : nan
timedelta : 0.0

In [14]:
columns = ['auid', 'uid', 'gid', 'euid', 'suid', 'fsuid', 'egid', 'sgid', 'fsgid']

def check_row_id_num(row):
    return pd.Series({col: row[col] == 0 for col in columns})

checks = df.apply(check_row_id_num, axis=1)
df['num_id_anomalies'] = checks.sum(axis=1)
df = df.drop(columns, axis=1)

In [15]:
df.head()

,exe,exit,items,ppid,pid,comm,AUID,UID,GID,EUID,SUID,FSUID,EGID,SGID,FSGID,timedelta,num_id_anomalies
0,/usr/bin/grep,0,2,26198,26263,grep,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,matteo,NaN,0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0

In [16]:
columns = ['AUID', 'UID', 'GID', 'EUID', 'SUID', 'FSUID', 'EGID', 'SGID', 'FSGID']

# Use apply to efficiently check values for each row
def check_id_row(row):    
    return pd.Series({col: int(not(row[col] in row['UID_GROUPS'])) for col in columns})

#checks = df.apply(check_id_row, axis=1)

#df['id_anomalies'] = checks.sum(axis=1)
df = df.drop(columns, axis=1)
#df = df.drop('UID_GROUPS', axis=1)

In [17]:
for col in df.columns:
    print(f'{col} : {df.iloc[1][col]}')

exe : nan
exit : nan
items : nan
ppid : nan
pid : nan
comm : nan
timedelta : 0.0
num_id_anomalies : 0

In [18]:
# filter final columns
columns_to_keep = ['exe', 'exit', 'items', 'ppid', 'pid', 'comm', 'timedelta', 'num_id_anomalies']
df = df [columns_to_keep]

In [19]:
df.iloc[1]

exe                 NaN
exit                NaN
items               NaN
ppid                NaN
pid                 NaN
comm                NaN
timedelta           0.0
num_id_anomalies      0
Name: 1, dtype: object

In [20]:
os.getcwd()

'/home/rocky/repo/Thesis/notebooks_dataset_creation'

In [21]:
# Save this df to file
save_fp = '../cleaned_data/silent.csv'
df.to_csv(save_fp, index=False)